<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/Login" method="POST">
        <div>
            <label for = "username">Enter your username</label>
            <input id="username" placeholder="username" name="username" type="text">
        </div>
        <hr>
        <br>
        <div>
            <label for="password">Enter your password</label>
            <input id = "password" type="password" name="password" >
        </div>
        <hr>
        <br>
        <button>Login</button>
    </form>
    
</body>
</html>