<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/Register" method="POST">
        <div>
            <label for = "email">Enter your Email</label>
            <input id="email" placeholder="Type your Email" name="email" type="email">             
        </div>
        <hr>
        <br>
        <div>
            <label for = "username">Enter your Username</label>
            <input id="username" placeholder="Type your Username" name="username" type="text">
        </div>
        <hr>
        <br>
        <div>
            <label for="password">Enter your Password</label>
            <input id = "password" type="password" name="password" >
        </div>
        <hr>
        <br>
        <button>Register</button>
    </form>
    
</body>
</html>